{% extends "base.html" %}
{% block content %}
<div class="form-card">
    <h3>Edit profile</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>
{% endblock %}
{% extends "base.html" %}
{% block content %}
<div class="form-card">
    <h3>Edit profile</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>
{% endblock %}
