{% extends 'base.html' %}
{% load static %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
<h4>Results for "{{ message }}"</h4>
<div class="feed-grid">
    {% if images %}
        {% for image in images %}
            <div class="card">
                <div class="card-header">
                    <p class="card-title">{{ image.image_name }}</p>
                    <p class="card-meta">{{ image.image_category }}</p>
                </div>
                <div class="card-image">
                    <a href="{% url 'viewImage' image.id %}">
                        <img src="{{ image.image.url }}" alt="{{ image.image_name }}">
                    </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No results found.</p>
    {% endif %}
</div>
{% endblock %}
